lib/tripit-api-obj-v1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- abstract types used in travel objects -->

  <xs:complexType name="Address">
    <xs:all>
      <!--
      For create, use either:
      - address for single-line addresses.
      - addr1, addr2, city, state, zip, and country for multi-line addresses.
      Multi-line address will be ignored if single-line address is present.
      See documentation for more information.
      -->
      <xs:element maxOccurs="1" minOccurs="0" name="address" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="addr1" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="addr2" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="city" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="state" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="zip" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="country" type="xs:string"/>
      <!-- latitude and longitude are read-only fields -->
      <xs:element maxOccurs="1" minOccurs="0" name="latitude" type="xs:decimal"/>
      <xs:element maxOccurs="1" minOccurs="0" name="longitude" type="xs:decimal"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Addresses">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="Address" type="Address"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Creator">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="consumer_key" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="consumer_name" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Traveler">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="first_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="middle_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="last_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="frequent_traveler_num" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="frequent_traveler_supplier" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="meal_preference" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="seat_preference" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ticket_num" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="FlightStatusCode">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="100"/> <!-- Not Monitorable -->
      <xs:enumeration value="200"/> <!-- Not Monitored -->
      <xs:enumeration value="300"/> <!-- Scheduled -->
      <xs:enumeration value="301"/> <!-- On Time -->
      <xs:enumeration value="302"/> <!-- In Flight - On Time -->
      <xs:enumeration value="303"/> <!-- Arrived - On Time -->
      <xs:enumeration value="400"/> <!-- Cancelled -->
      <xs:enumeration value="401"/> <!-- Delayed -->
      <xs:enumeration value="402"/> <!-- In Flight - Late -->
      <xs:enumeration value="403"/> <!-- Arrived - Late -->
      <xs:enumeration value="404"/> <!-- Diverted -->
      <xs:enumeration value="405"/> <!-- Possibly Delayed -->
      <xs:enumeration value="406"/> <!-- In Flight - Possibly Late -->
      <xs:enumeration value="407"/> <!-- Arrived - Possibly Late -->
      <xs:enumeration value="408"/> <!-- Unknown -->
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FlightStatus">
    <xs:all>
      <!-- All FlightStatus fields are read-only and only available for monitored TripIt Pro AirSegments -->
      <xs:element maxOccurs="1" minOccurs="0" name="ScheduledDepartureDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EstimatedDepartureDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ScheduledArrivalDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EstimatedArrivalDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="1" name="flight_status" type="FlightStatusCode"/>
      <xs:element maxOccurs="1" minOccurs="0" name="is_connection_at_risk" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="departure_terminal" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="departure_gate" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="arrival_terminal" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="arrival_gate" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="layover_minutes" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="baggage_claim" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="diverted_airport_code" type="AirportCode"/>
      <xs:element maxOccurs="1" minOccurs="1" name="last_modified" type="xs:integer"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="AirportCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z][A-Z][A-Z]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AirlineCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Z]|\d){2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Image">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="caption" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ImageData" type="ImageData"/>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:positiveInteger"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ImageData">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="content" type="xs:base64Binary"/>
      <xs:element maxOccurs="1" minOccurs="1" name="mime_type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="image/jpeg"/>
            <xs:enumeration value="image/pjpeg"/>
            <xs:enumeration value="image/x-citrix-pjpeg"/>
            <xs:enumeration value="image/png"/>
            <xs:enumeration value="image/x-png"/>
            <xs:enumeration value="image/gif"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="DateTime">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="date" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="0" name="time" type="xs:time"/>
      <!-- timezone and utc_offset are read-only fields -->
      <xs:element maxOccurs="1" minOccurs="0" name="timezone" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="utc_offset" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <!-- All PointsProgram elements are read-only -->
  <xs:complexType name="PointsProgram">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:positiveInteger"/>
      <xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="account_number" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="account_login" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="balance" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="elite_status" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="elite_next_status" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="elite_ytd_qualify" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="elite_need_to_earn" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="last_modified" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="1" name="total_num_activities" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="1" name="total_num_expirations" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="error_message" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="nickname" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="last_fetch_account_state_code" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="lifetime_points" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="supplier_code" type="xs:string"/>
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Activity" type="PointsProgramActivity"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Expiration" type="PointsProgramExpiration"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SubAccount" type="PointsProgramSubAccount"/>

      <xs:element maxOccurs="1" minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All PointsProgramActivity elements are read-only -->
  <xs:complexType name="PointsProgramActivity">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="date" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="base" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="bonus" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="total" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <!-- All PointsProgramExpiration elements are read-only -->
  <xs:complexType name="PointsProgramExpiration">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="date" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="0" name="amount" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <!-- All PointsProgramSubAccount elements are read-only -->
  <xs:complexType name="PointsProgramSubAccount">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="account_number" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="nickname" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="balance" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TripShare">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="trip_id" type="xs:positiveInteger"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_traveler" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_read_only" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_sent_with_details" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TravelGroupTripShare">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="trip_id" type="xs:positiveInteger"/>
      <xs:element maxOccurs="1" minOccurs="1" name="travel_group_unique_name" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ConnectionRequest">
  </xs:complexType>

  <xs:simpleType name="EmailAddress">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^\.]+\..+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="EmailAddresses">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="email_address" type="EmailAddress"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Invitation">
    <xs:choice>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="EmailAddresses" type="EmailAddresses"/>
        <xs:choice>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="TripShare" type="TripShare"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConnectionRequest" type="ConnectionRequest"/>
          </xs:sequence>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="ConnectionRequest" type="ConnectionRequest"/>
          </xs:sequence>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" name="message" type="xs:string"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="TravelGroupTripShare" type="TravelGroupTripShare"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

  <!-- All Profile elements are read-only -->
  <xs:complexType name="Profile">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="ProfileEmailAddresses" type="ProfileEmailAddresses"/>
      <xs:element maxOccurs="1" minOccurs="0" name="GroupMemberships" type="GroupMemberships"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_client" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_pro" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="screen_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="public_display_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="profile_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="home_city" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="company" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="about_me_info" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="photo_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="activity_feed_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="alerts_feed_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ical_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="sms_phone_number" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="sms_country_code" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="BillingPeriods" type="BillingPeriods"/>
      <xs:element maxOccurs="1" minOccurs="0" name="should_allow_pro_purchase" type="xs:boolean"/>
    </xs:all>
    <xs:attribute name="ref" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- All ProfileEmailAddresses elements are read-only -->
  <xs:complexType name="ProfileEmailAddresses">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="ProfileEmailAddress" type="ProfileEmailAddress"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All ProfileEmailAddress elements are read-only -->
  <xs:complexType name="ProfileEmailAddress">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="address" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_auto_import" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_confirmed" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_primary" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="is_auto_inbox_eligible" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>

  <!-- All GroupMemberships elements are read-only -->
  <xs:complexType name="GroupMemberships">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="Group" type="Group"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All Group elements are read-only -->
  <xs:complexType name="Group">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="display_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="unique_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_free" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>

  <!-- All BillingPeriods elements are read-only -->
  <xs:complexType name="BillingPeriods">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="BillingPeriod" type="BillingPeriod"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All BillingPeriod elements are read-only -->
  <xs:complexType name="BillingPeriod">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="product_type_code" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="end_date" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="1" name="hard_end_date" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All TripInvitees elements are read-only -->
  <xs:complexType name="Invitees">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="Invitee" type="Invitee"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All TripInvitees elements are read-only -->
  <xs:complexType name="GroupInvitees">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="Group" type="Group"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All Invitee elements are read-only -->
  <xs:complexType name="Invitee">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="is_read_only" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="is_traveler" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="is_owner" type="xs:boolean"/>
    </xs:all>
    <!-- Use the profile_ref attribute to reference a Profile -->
    <xs:attribute name="profile_ref" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- All TripCrsRemarks elements are read-only -->
  <xs:complexType name="TripCrsRemarks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="TripCrsRemark" type="TripCrsRemark"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All TripCrsRemark elements are read-only -->
  <xs:complexType name="TripCrsRemark">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="record_locator" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="notes" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <!-- All ClosenessMatches elements are read-only -->
  <xs:complexType name="ClosenessMatches">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="Match" type="ClosenessMatch"/>
    </xs:sequence>
  </xs:complexType>

  <!-- All ClosenessMatch elements are read-only -->
  <xs:complexType name="ClosenessMatch">
    <!-- Use the profile_ref attribute to reference a Profile -->
    <xs:attribute name="profile_ref" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Trip">
    <xs:all>
      <!-- ClosenessMatches are read-only -->
      <xs:element maxOccurs="1" minOccurs="0" name="ClosenessMatches" type="ClosenessMatches"/>
      <!-- TripInvitees are read-only -->
      <xs:element maxOccurs="1" minOccurs="0" name="TripInvitees" type="Invitees"/>
      <!-- TripCrsRemarks are read-only -->
      <xs:element maxOccurs="1" minOccurs="0" name="TripCrsRemarks" type="TripCrsRemarks"/>
      <!-- id is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:positiveInteger"/>
      <!-- relative_url is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="relative_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="start_date" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="0" name="end_date" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="display_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="image_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="is_private" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="primary_location" type="xs:string"/>
      <!-- PrimaryLocationAddress is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="PrimaryLocationAddress" type="Address"/>
      <!-- is_expensible is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="is_expensible" type="xs:boolean"/>
      <!-- is_pro_enabled is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="is_pro_enabled" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="TripPurposes" type="TripPurposes"/>
      <!-- last_modified is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="last_modified" type="xs:integer"/>
      <!-- GroupInvitees are read-only -->
      <xs:element maxOccurs="1" minOccurs="0" name="GroupInvitees" type="GroupInvitees"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Object">
    <xs:sequence>
      <!-- id is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:positiveInteger"/>
      <xs:element maxOccurs="1" minOccurs="0" name="trip_id" type="xs:positiveInteger"/>
      <!-- is_client_traveler and relative_url are read-only fields -->
      <xs:element maxOccurs="1" minOccurs="0" name="is_client_traveler" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="relative_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="display_name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Image" type="Image"/>
      <!-- Creator is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="Creator" type="Creator"/>
      <!-- is_display_name_auto_generated is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="is_display_name_auto_generated" type="xs:boolean"/>
      <!-- last_modified is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="last_modified" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReservationObject">
    <xs:complexContent>
      <xs:extension base="Object">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="CancellationDateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="booking_date" type="xs:date"/>
          <xs:element maxOccurs="1" minOccurs="0" name="booking_rate" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="booking_site_conf_num" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="booking_site_name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="booking_site_phone" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="booking_site_url" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="record_locator" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="supplier_conf_num" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="supplier_contact" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="supplier_email_address" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="supplier_name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="supplier_phone" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="supplier_url" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="is_purchased" type="xs:boolean"/>
          <xs:element maxOccurs="1" minOccurs="0" name="notes" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="restrictions" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="total_cost" type="xs:string"/>
          <!-- is_tripit_booking is a read-only field -->
          <xs:element maxOccurs="1" minOccurs="0" name="is_tripit_booking" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Air -->

  <!-- the following are complex, reservation object types: air, lodging, car, rail transport, cruise, restaurant, activity, weather -->

  <xs:complexType name="AirObject">
    <!-- notes:  air fare rules should be in restrictions -->
    <xs:complexContent>
      <xs:extension base="ReservationObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Segment" type="AirSegment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Traveler" type="Traveler"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AirSegment">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="Status" type="FlightStatus"/>
      <xs:element maxOccurs="1" minOccurs="0" name="StartDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EndDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="start_airport_code" type="AirportCode"/>
      <!-- start_airport_latitude and start_airport_longitude are read-only fields -->
      <xs:element maxOccurs="1" minOccurs="0" name="start_airport_latitude" type="xs:decimal"/>
      <xs:element maxOccurs="1" minOccurs="0" name="start_airport_longitude" type="xs:decimal"/>
      <xs:element maxOccurs="1" minOccurs="0" name="start_city_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="start_gate" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="start_terminal" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="end_airport_code" type="AirportCode"/>
      <!-- end_airport_latitude and end_airport_longitude are read-only fields -->
      <xs:element maxOccurs="1" minOccurs="0" name="end_airport_latitude" type="xs:decimal"/>
      <xs:element maxOccurs="1" minOccurs="0" name="end_airport_longitude" type="xs:decimal"/>
      <xs:element maxOccurs="1" minOccurs="0" name="end_city_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="end_gate" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="end_terminal" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="marketing_airline" type="xs:string"/>
      <!-- marketing_airline_code is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="marketing_airline_code" type="AirlineCode"/>
      <xs:element maxOccurs="1" minOccurs="0" name="marketing_flight_number" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="operating_airline" type="xs:string"/>
      <!-- operating_airline_code is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="operating_airline_code" type="AirlineCode"/>
      <xs:element maxOccurs="1" minOccurs="0" name="operating_flight_number" type="xs:string"/>
      <!-- alternate_flights_url is a read-only relative url field -->
      <xs:element maxOccurs="1" minOccurs="0" name="alternate_flights_url" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="aircraft" type="xs:string"/>
      <!-- aircraft_display_name is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="aircraft_display_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="distance" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="duration" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="entertainment" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="meal" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="notes" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ontime_perc" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="seats" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="service_class" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="stops" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="baggage_claim" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="check_in_url" type="xs:string"/>
      <!-- conflict_resolution_url is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="conflict_resolution_url" type="xs:string"/>
      <!-- is_hidden is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="is_hidden" type="xs:boolean"/>
      <!-- id is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:positiveInteger"/>
    </xs:all>
  </xs:complexType>

  <!-- Lodging -->
  <xs:complexType name="LodgingObject">
    <!-- notes:  hotel cancellation remarks should be in restrictions -->
    <!--         hotel room description should be in notes -->
    <!--         hotel average daily rate should be in booking_rate -->
    <xs:complexContent>
      <xs:extension base="ReservationObject">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="StartDateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="EndDateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Address" type="Address"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Guest" type="Traveler"/>
          <xs:element maxOccurs="1" minOccurs="0" name="number_guests" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="number_rooms" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="room_type" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="bic_code" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Car -->
  <xs:complexType name="CarObject">
    <!-- notes:  car cancellation remarks should be in restrictions -->
    <!--         car pickup instructions should be in notes -->
    <!--         car daily rate should be in booking_rate -->
    <xs:complexContent>
      <xs:extension base="ReservationObject">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="StartDateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="EndDateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="StartLocationAddress" type="Address"/>
          <xs:element maxOccurs="1" minOccurs="0" name="EndLocationAddress" type="Address"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Driver" type="Traveler"/>
          <xs:element maxOccurs="1" minOccurs="0" name="start_location_hours" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="start_location_name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="start_location_phone" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="end_location_hours" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="end_location_name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="end_location_phone" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="car_description" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="car_type" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="mileage_charges" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Rail -->
  <xs:complexType name="RailSegment">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="StartDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EndDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="StartStationAddress" type="Address"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EndStationAddress" type="Address"/>
      <xs:element maxOccurs="1" minOccurs="0" name="start_station_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="end_station_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="carrier_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="coach_number" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="confirmation_num" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="seats" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="service_class" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="train_number" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="train_type" type="xs:string"/>
      <!-- id is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:positiveInteger"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="RailObject">
    <xs:complexContent>
      <xs:extension base="ReservationObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Segment" type="RailSegment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Traveler" type="Traveler"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Transport -->
  <xs:simpleType name="TransportDetailTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F"/> <!-- Ferry -->
      <xs:enumeration value="G"/> <!-- Ground Transportation -->
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TransportSegment">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="StartDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EndDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="StartLocationAddress" type="Address"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EndLocationAddress" type="Address"/>
      <xs:element maxOccurs="1" minOccurs="0" name="start_location_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="end_location_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="detail_type_code" type="TransportDetailTypeCode"/>
      <xs:element maxOccurs="1" minOccurs="0" name="carrier_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="confirmation_num" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="number_passengers" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="vehicle_description" type="xs:string"/>
      <!-- id is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:positiveInteger"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TransportObject">
    <xs:complexContent>
      <xs:extension base="ReservationObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Segment" type="TransportSegment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Traveler" type="Traveler"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Cruise -->
  <xs:simpleType name="CruiseDetailTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="P"/> <!-- Port Of Call -->
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CruiseSegment">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="StartDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EndDateTime" type="DateTime"/>
      <xs:element maxOccurs="1" minOccurs="0" name="LocationAddress" type="Address"/>
      <xs:element maxOccurs="1" minOccurs="0" name="location_name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="detail_type_code" type="CruiseDetailTypeCode"/>
      <!-- id is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:positiveInteger"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CruiseObject">
    <xs:complexContent>
      <xs:extension base="ReservationObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Segment" type="CruiseSegment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Traveler" type="Traveler"/>
          <xs:element maxOccurs="1" minOccurs="0" name="cabin_number" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="cabin_type" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dining" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="ship_name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Restaurant -->
  <xs:complexType name="RestaurantObject">
    <!-- notes:  restaurant name should be in supplier_name -->
    <!--         restaurant notes should be in notes -->
    <xs:complexContent>
      <xs:extension base="ReservationObject">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="DateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Address" type="Address"/>
          <xs:element maxOccurs="1" minOccurs="0" name="ReservationHolder" type="Traveler"/>
          <xs:element maxOccurs="1" minOccurs="0" name="cuisine" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dress_code" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="hours" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="number_patrons" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="price_range" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Activity -->
  <xs:simpleType name="ActivityDetailTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C"/> <!-- Concert -->
      <xs:enumeration value="H"/> <!-- Theatre -->
      <xs:enumeration value="M"/> <!-- Meeting -->
      <xs:enumeration value="T"/> <!-- Tour -->
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ActivityObject">
    <xs:complexContent>
      <xs:extension base="ReservationObject">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="StartDateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="end_time" type="xs:time"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Address" type="Address"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Participant" type="Traveler"/>
          <xs:element maxOccurs="1" minOccurs="0" name="detail_type_code" type="ActivityDetailTypeCode"/>
          <xs:element maxOccurs="1" minOccurs="0" name="location_name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- the following are plain object types: note, map, directions -->

  <!-- Note -->
  <xs:simpleType name="NoteDetailTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A"/> <!-- Article -->
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="NoteObject">
    <xs:complexContent>
      <xs:extension base="Object">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="DateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Address" type="Address"/>
          <xs:element maxOccurs="1" minOccurs="0" name="detail_type_code" type="NoteDetailTypeCode"/>
          <xs:element maxOccurs="1" minOccurs="0" name="source" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="text" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="url" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="notes" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Map -->
  <xs:complexType name="MapObject">
    <xs:complexContent>
      <xs:extension base="Object">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="DateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Address" type="Address"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Directions -->
  <xs:simpleType name="DirectionsDetailTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B"/> <!-- Bicycling -->
      <xs:enumeration value="D"/> <!-- Driving -->
      <xs:enumeration value="T"/> <!-- Transit -->
      <xs:enumeration value="W"/> <!-- Walking -->
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DirectionsObject">
    <xs:complexContent>
      <xs:extension base="Object">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="DateTime" type="DateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="StartAddress" type="Address"/>
          <xs:element maxOccurs="1" minOccurs="0" name="EndAddress" type="Address"/>
          <xs:element maxOccurs="1" minOccurs="0" name="detail_type_code" type="DirectionsDetailTypeCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WeatherObject">
    <xs:complexContent>
      <xs:extension base="Object">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="date" type="xs:date"/>
          <xs:element maxOccurs="1" minOccurs="0" name="location" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="avg_high_temp_c" type="xs:double"/>
          <xs:element maxOccurs="1" minOccurs="0" name="avg_low_temp_c" type="xs:double"/>
          <xs:element maxOccurs="1" minOccurs="0" name="avg_wind_speed_kn" type="xs:double"/>
          <xs:element maxOccurs="1" minOccurs="0" name="avg_precipitation_cm" type="xs:double"/>
          <xs:element maxOccurs="1" minOccurs="0" name="avg_snow_depth_cm" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TripPurposes">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="purpose_type_code" type="TripPurposeTypeCode"/>
      <!-- is_auto_generated is a read-only field -->
      <xs:element maxOccurs="1" minOccurs="1" name="is_auto_generated" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TripPurposeTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B"/> <!-- Business -->
      <xs:enumeration value="L"/> <!-- Leisure -->
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
